[submodule "jchess"]
	path = jchess
	url = https://github.com/bmarini/jchess.git
[submodule "chess.js"]
	path = chess.js
	url = https://github.com/jhlywa/chess.js.git
[submodule "chessboardjs"]
	path = chessboardjs
	url = https://github.com/oakmac/chessboardjs.git
